<% if flash.any? %>
  <div class="alert alert-danger" id="error_explanation">
    <h2><%= I18n.t("errors.messages.not_saved") %></h2>
    <% flash.each do |type, message| %>
      <ul>
        <li><%= type %></li>
      </ul>
      <% if message.is_a?(String) %>
        <ul>
          <li><%= message %></li>
        </ul>
      <% else %>
        <% message.each do |msg| %>
          <ul>
            <li><%= msg %></li>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>