<%from_time = Time.now%>
<%distance = distance_of_time_in_words(from_time, notification.updated_at)%>
<%event = notification.event%>
<%status = notification.status%>
<%text = notification.text || "test message"%>
<%link = nil%>

<%post_url = notification.item&.post%>
<%user = notification.item&.user&.displayed_name || "-"%>
<%post_title = notification.item&.post&.title || "-"%>

<%case event%>
  <%when "none"%>
    <%case status%>
      <%when "info"%>
        <% res = "#{distance} â“˜ #{text}" %>
      <%when "success"%>
        <% res = "#{distance} âœ… #{text}" %>
      <%when "warning"%>
        <% res = "#{distance} âš ï¸ #{text}" %>
      <%when "error"%>
        <% res = "#{distance} ðŸ›‘ #{text}" %>
    <%end%>
  <%when "create"%>
    <%case status%>
      <%when "info"%>
        <% res = "#{distance} â“˜ #{text}" %>
      <%when "success"%>
        <% linkk = post_url.present? ? link_to(post_title, post_url) : link_to(post_title, "#") %>
        <% text = "#{I18n.t('notifications.comment.create.success', user: user, post: linkk)}" %>
        <% res = "#{distance} âœ… #{text}".html_safe %>
      <%when "warning"%>
        <% res = "#{distance} âš ï¸ #{text}" %>
      <%when "error"%>
        <% res = "#{distance} ðŸ›‘ #{text}" %>
    <%end%>
  <%when "update"%>
    <%case status%>
      <%when "info"%>
        <% res = "#{distance} â“˜ #{text}" %>
      <%when "success"%>
        <% linkk = post_url.present? ? link_to(post_title, post_url) : link_to(post_title, "#") %>
        <% text = "#{I18n.t('notifications.comment.update.success', user: user, post: linkk)}" %>
        <% res = "#{distance} âœ… #{text}".html_safe %>
      <%when "warning"%>
        <% linkk = post_url.present? ? link_to(post_title, post_url) : link_to(post_title, "#") %>
        <% text = "#{I18n.t('notifications.comment.update.warning', post: linkk)}" %>
        <% res = "#{distance} âš ï¸ #{text}".html_safe %>
      <%when "error"%>
        <% res = "#{distance} ðŸ›‘ #{text}" %>
    <%end%>
  <%when "delete"%>
    <%case status%>
      <%when "info"%>
        <% res = "#{distance} â“˜ #{text}" %>
      <%when "success"%>
        <% text = text.split('@@')%>
        <% post_url = Post.find_by(id: text[0])%>
        <% post_title = post_url&.title || "-"%>
        <% linkk = post_url.present? ? link_to(post_title, post_url) : link_to(post_title, "#") %>
        <% res = "#{distance} âœ… #{I18n.t('notifications.comment.delete.success', user: text[1], post: linkk)}".html_safe %>
      <%when "warning"%>
        <% post_url = Post.find_by(id: text)%>
        <% post_title = post_url&.title || "-"%>
        <% linkk = post_url.present? ? link_to(post_title, post_url) : link_to(post_title, "#") %>
        <% res = "#{distance} âš ï¸ #{I18n.t('notifications.comment.delete.warning', post: linkk)}".html_safe %>
      <%when "error"%>
        <% res = "#{distance} ðŸ›‘ #{text}" %>
    <%end%>
<%end%>
<%if link.present?%>
  <p><%=res%>: <%=link.html_safe%></p>
<%else%>
  <p><%=res%></p>
<%end%>