<ul class="notification-list" id="notifications">
  <%noti.unviewed.first(9).each do |notification|%>
    <li class="notify py-4" id="<%= dom_id(notification) %>">
      <%= render "notifications/#{notification.item_type.downcase}", notification: notification %>
    </li>
  <%end%>
</ul>