<li class="py-4 notify" id="<%= dom_id(notification) %>">
  <%= render "notifications/#{notification.item_type.downcase}", notification: notification %><%=link_to "&times;".html_safe, view_notification_path(notification), class: "close", method: :put %>
</li>