<%from_time = Time.now%>
<%distance = distance_of_time_in_words(from_time, notification.updated_at)%>
<%event = notification.event%>
<%status = notification.status%>
<%text = notification.text || "test message"%>
<%link = nil%>

<% title = notification.item&.channel&.options&.dig("title") || "-"%>
<% url = notification.item&.channel&.options&.dig("url")%>

<%case event%>
  <%when "none"%>
    <%case status%>
      <%when "info"%>
        <% res = "#{distance} â“˜ #{text}" %>
      <%when "success"%>
        <% res = "#{distance} âœ… #{text}" %>
      <%when "warning"%>
        <% res = "#{distance} âš ï¸ #{text}" %>
      <%when "error"%>
        <% res = "#{distance} ðŸ›‘ #{text}" %>
    <%end%>
  <%when "create"%>
    <%case status%>
      <%when "info"%>
        <% res = "#{distance} â“˜ #{text}" %>
      <%when "success"%>
        <% link = url.present? ? "#{link_to(title, url)}" : "#{link_to("#{title} (Private)", "#")}"%>
        <% text = "#{I18n.t('notifications.platform_post.create.success')}" %>
        <% res = "#{distance} âœ… #{text}" %>
      <%when "warning"%>
        <% link = url.present? ? "#{link_to(title, url)}" : "#{link_to("#{title} (Private)", "#")}"%>
        <% text = "#{I18n.t('notifications.platform_post.create.warning')}" %>
        <% res = "#{distance} âš ï¸ #{text}" %>
      <%when "error"%>
        <% res = "#{distance} ðŸ›‘ #{I18n.t('notifications.platform_post.create.error')}: #{text}" %>
    <%end%>
  <%when "update"%>
    <%case status%>
      <%when "info"%>
        <% res = "#{distance} â“˜ #{text}" %>
      <%when "success"%>
        <% link = url.present? ? "#{link_to(title, url)}" : "#{link_to("#{title} (Private)", "#")}"%>
        <% text = "#{I18n.t('notifications.platform_post.update.success')}" %>
        <% res = "#{distance} âœ… #{text}" %>
      <%when "warning"%>
        <% link = url.present? ? "#{link_to(title, url)}" : "#{link_to("#{title} (Private)", "#")}"%>
        <% text = "#{I18n.t('notifications.platform_post.update.warning')}" %>
        <% res = "#{distance} âš ï¸ #{text}" %>
      <%when "error"%>
        <% res = "#{distance} ðŸ›‘ #{I18n.t('notifications.platform_post.update.error')}: #{text}" %>
    <%end%>
  <%when "delete"%>
    <%case status%>
      <%when "info"%>
        <% res = "#{distance} â“˜ #{text}" %>
      <%when "success"%>
        <% title = text %>
        <% link = "#{link_to("#{title}", "#")}"%>
        <% res = "#{distance} âœ… #{I18n.t('notifications.platform_post.delete.success')}"%>
      <%when "warning"%>
        <% title = text %>
        <% link = "#{link_to("#{title}", "#")}"%>
        <% res = "#{distance} âš ï¸ #{I18n.t('notifications.platform_post.delete.warning')}"%>
      <%when "error"%>
        <% title = text %>
        <% link = "#{link_to("#{title}", "#")}"%>
        <% res = "#{distance} ðŸ›‘ #{I18n.t('notifications.platform_post.delete.error')}" %>
    <%end%>
<%end%>
<%if link.present?%>
  <p><%=res%>: <%=link.html_safe%></p>
<%else%>
  <p><%=res%></p>
<%end%>