<%from_time = Time.now%>
<%distance = distance_of_time_in_words(from_time, notification.updated_at)%>
<%event = notification.event%>
<%status = notification.status%>
<%text = notification.text || "test message"%>
<%link = nil%>

<%case event%>
  <%when "none"%>
    <%case status%>
      <%when "info"%>
        <% res = "#{distance} â“˜ #{text}" %>
      <%when "success"%>
        <% res = "#{distance} âœ… #{text}" %>
      <%when "warning"%>
        <% res = "#{distance} âš ï¸ #{text}" %>
      <%when "error"%>
        <% res = "#{distance} ðŸ›‘ #{text}" %>
    <%end%>
  <%when "create"%>
    <%case status%>
      <%when "info"%>
        <% res = "#{distance} â“˜ #{text}" %>
      <%when "success"%>
        <% res = "#{distance} âœ… #{text}" %>
      <%when "warning"%>
        <% res = "#{distance} âš ï¸ #{text}" %>
      <%when "error"%>
        <% res = "#{distance} ðŸ›‘ #{text}" %>
    <%end%>
  <%when "update"%>
    <%case status%>
      <%when "info"%>
        <% res = "#{distance} â“˜ #{text}" %>
      <%when "success"%>
        <% res = "#{distance} âœ… #{text}" %>
      <%when "warning"%>
        <% res = "#{distance} âš ï¸ #{text}" %>
      <%when "error"%>
        <% res = "#{distance} ðŸ›‘ #{text}" %>
    <%end%>
  <%when "delete"%>
    <%case status%>
      <%when "info"%>
        <% res = "#{distance} â“˜ #{text}" %>
      <%when "success"%>
        <% title = text %>
        <% linkk = "#{link_to("#{title}", "#")}"%>
        <% res = "#{distance} âœ… #{I18n.t('notifications.post.delete.success', post: linkk)}".html_safe%>
      <%when "warning"%>
        <% res = "#{distance} âš ï¸ #{text}" %>
      <%when "error"%>
        <% res = "#{distance} ðŸ›‘ #{text}" %>
    <%end%>
<%end%>
<%if link.present?%>
  <p><%=res%>: <%=link.html_safe%></p>
<%else%>
  <p><%=res%></p>
<%end%>