<center>
  <h1>Добро пожаловать!</h1>
  <p>Только зарегистрированные пользователи могут что-то там делать.</p>
  <p>Пожалуйста, зарегистрируйтесь, или войдите под своей учётной записью.</p>
  <p>
    <%= link_to 'Регистрация', new_user_path %> ..
    <%= link_to 'Вход', sign_in_path %>
  </p>
</center>