<body id="bg-feed">
    <div class="feeds-container">
        <%= render "posts/feed/menu" %>
        <%= render "posts/feed/filters" %>
        <%= render "posts/feed/window" %>
    </div>
</body>

<%= javascript_include_tag 'application.js' %>