@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "dropzone";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 *= require font-awesome
 */

code{
  /* #cc241d */
  background-color: rgb(34, 36, 38);
  color: #22c6c6;
}

body {
  color: white;
  background: black;
  font-family: Hack, serif;
  /* line-height: 1.3rem; */
  letter-spacing: -0.010em;
}

table {
  border-collapse: collapse;
}

tr, th, td{
  padding: 0;
}

footer{
  border-top: solid 2px #31303b !important;
  bottom: 0;
  padding: 1em;
  position: static;
  width: 100%;
  text-align: center;
}

a{
  color: #10A0A0;
  outline: none;
  text-decoration: none;
  border-bottom-color: transparent;
}

a:hover {
  color: #0c6a6a;
}

input, button{
  border: solid #2E2F30;
  border-radius: 8px;
  color: white;
  background: #31303b;
}


/* main page */

.main-page{
  width: 100%;
  height: 100%;
  display: flex;
}

.information-left {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  font-size: 14px;
}

.information-right {
  padding: 2% 0 0 5%;
  height: 100%;
  width: 25%;
  font-size: 16px;
}

.block{
  border-left: solid 4px #31303b !important;
  margin: 0.8em 0 1em 0;
  padding: 0.8em 0 0.8em 4em;
}

.block-login{
  border-left: solid 4px #31303b !important;
  margin: 0.8em 0 1em 0;
  padding: 0.5em 0 0.8em 2em;
}

pre.ascii {
  font-size: 14px;
  line-height: 1.6em;
  border: none;
  font-family: "Source Code Pro", monospace;
  color: white;
  background-color: inherit;
  margin: 0;
  padding: 0;
}

.information-left p{
  padding-left: 1%;
}

.icon {
  width: 25px;
}

/* posts new, edit */

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ color: #22c6c6; background-color: #3939398c; }

.tab-content{
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  .title{
    margin-top: 20px;
    opacity: 75%;
  }
  .form-control{
    height: 100%;
    background-color: #222426;
    border-color: #555555;
    color: white;
  }

  .markdown-editor{
    padding-top: 20px;
    display: flex;
    width: 100%;
    height: 40em;
    scrollbar-color: #202324 #454a4d;

    textarea{
      margin-right: 10px;
      background-color: #222426;
      border-color: #555555;
      resize: none;
      height: 97%;
      max-height: 97%;
      width: 50%;
    }
  }

  .preview{
    height: 97%;
    max-height: 97%;
    border: 1px solid #555555;
    background-color: #222426;
    overflow-y: scroll;
    width: 50%;
    padding: 10px;
  }
}

.field input{
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  background: #31303b;
}

/* post */

.h1 + *{
  margin-top: 0;
}

.metadata{
  opacity: 85%;
}

.posts-content{
  line-height: normal;
  font-size: 18px;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  padding-top: 10px;
}

.posts-container{
  line-height: 1.5rem;
  font-size: 16px;
  background-color: rgb(18, 20, 20);
  box-sizing: border-box;
  max-width: 60%;
  margin: 0 auto;
  padding: 20px 10px;

  section article header h1{
    overflow: hidden;
    display: block;
    font-size: 2rem;
  }

  section article header h1::after {
    content: "------------------------------------------------------------------------------------------------";
    position: static;
    bottom: 10px;
    left: 0;
  }
}

.attachments{
  padding-bottom: 20px;
}

/* tags */

.tags-right {
  float: right;
  padding: 0 30% 0 0;
}

.block-tags{
  border: solid 4px #31303b !important;
  margin: 0.8em 0 1em 0;
  padding: 0.8em 0.8em 0.8em 0.8em;
}

/* useful */

.header {
  padding-top: 0.5%;
  padding-left: 1.5%;
  font-weight: bold;
  font-size: 34px;
}

.small-header {
  font-style: italic;
  margin-top: 0.2579%;
  margin-left: 13.654321%;
}

/* WTF */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}