@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 *= require font-awesome
 */

body {
  color: white;
  background: black;
  font-family: Hack, serif;
  /* line-height: 1.3rem; */
  letter-spacing: -0.010em;
}

/* main page */

.main-page{
  width: 100%;
  height: 100%;
  display: flex;
}

.information-left {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  font-size: 14px;
}

.information-right {
  padding: 2% 0 0 5%;
  height: 100%;
  width: 25%;
  font-size: 16px;
}

.block{
  border-left: solid 4px #31303b !important;
  margin: 0.8em 0 1em 0;
  padding: 0.8em 0 0.8em 4em;
}

.block-login{
  border-left: solid 4px #31303b !important;
  margin: 0.8em 0 1em 0;
  padding: 0.5em 0 0.8em 2em;
}

pre.ascii {
  font-size: 14px;
  line-height: 1.6em;
  border: none;
  font-family: "Source Code Pro", monospace;
  color: white;
  background-color: inherit;
  margin: 0;
  padding: 0;
}

.information-left p{
  padding-left: 1%;
}

table {
  border-collapse: collapse;
}

tr, th, td{
  padding: 0;
}

.icon {
  width: 25px;
}

footer{
  border-top: solid 2px #31303b !important;
  bottom: 0;
  padding: 1em;
  position: static;
  width: 100%;
  text-align: center;
}

/* new post */

.posts-main{

}

.markdown-container{
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
  color: rgb(211, 207, 201);
}

.markdown-left{
  resize: none;
  padding-right: 0.5%;
}

.markdown-container textarea{
  padding: 0.5rem;
  font-size: 14px;
  border-radius: 8px;
  color: white;
  background: #31303b;
  display: block;
  width: 740px;
  height: 600px;
  scrollbar-color: #202324 #454a4d;
}

#preview {
  resize: none;
  padding: 0.5rem;
  border-radius: 8px;
  color: white;
  background: #31303b;
  border: 2px solid white;
  min-width: 100px;
  width: 700px;
  height: 800px;
  overflow: auto;
  scrollbar-color: #202324 #454a4d;
}

.markdown-left .field{
  padding: 1% 0 1% 0;
}

.field input{
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  background: #31303b;
}

/* post */

.post-header {
  border-bottom: 1px solid white;
  padding-bottom: 1%;
  float: left;
}

.post-content {
  font-family: "Bitstream Vera Sans", sans-serif;
  color: #EFEFEF;
  border-bottom: 1px solid white;
  padding: 0% 1% 1% 1%;
}

.post-preview{
  max-width: 60%;
}

.h1 + *{
  margin-top: 0;
}

.metadata{
  opacity: 85%;
}

.posts-content{
  line-height: normal;
  font-size: 18px;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  padding-top: 10px;
}

/* new? */

.posts-container{
  line-height: 1.5rem;
  font-size: 16px;
  background-color: rgb(18, 20, 20);
  box-sizing: border-box;
  max-width: 43%;
  margin: 0 auto;
  padding: 20px 10px;

  section article header h1{
    font-size: 2rem;
  }

  section article header h1::after {
    content: "----------------------------------------------------------";
    position: static;
    bottom: 10px;
    left: 0;
  }
}

/* tags */

.tags-right {
  float: right;
  padding: 0 30% 0 0;
}

.block-tags{
  border: solid 4px #31303b !important;
  margin: 0.8em 0 1em 0;
  padding: 0.8em 0.8em 0.8em 0.8em;
}

/* useful */

.confirm-button{
  margin: 1em 0 0.1em 6em;
}

a{
  color: #10A0A0;
  outline: none;
  text-decoration: none;
  border-bottom-color: transparent;
}

a:hover {
  color: #0c6a6a;
}

.edit_user{
  display: block;
  width: 100%;
}

input, button{
  border: solid #2E2F30;
  border-radius: 8px;
  color: white;
  background: #31303b;
}

.header {
  padding-top: 0.5%;
  padding-left: 1.5%;
  font-weight: bold;
  font-size: 34px;
}

.small-header {
  font-style: italic;
  margin-top: 0.2579%;
  margin-left: 13.654321%;
}

.user-form {
  border: solid #2E2F30;
}

h4{
  margin: 0 0 1px 0;
}

/* WTF */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* screens */

/*
*@media screen and (min-width:100px) {
*  .information-right { font-size:60%; }
*  .tags-right { float:left; padding: 0 50% 0 0;  }
*}
*
*@media screen and (min-width:650px) {
*  .information-right { font-size:60%; }
*  .tags-right { float:left; padding: 0 50% 0 0; }
*}
*
*@media screen and (min-width:798px) {
*  .information-right { font-size:70%; }
*  .tags-right { float:right; padding: 0 30% 0 0; }
*}
*
*
*@media screen and (min-width:900px) {
*  .information-right { font-size:80%; }
*  .tags-right { float:right; padding: 0 30% 0 0; }
*}
*
*@media screen and (min-width:1015px) {
*  .information-right { font-size:85%; }
*  .tags-right { float:right; padding: 0 40% 0 0; }
*}
*
*
*@media screen and (min-width:1200px) {
*  .information-right { font-size:90%; }
*  .tags-right { float:right; padding: 0 20% 0 0; }
*}
*
*@media screen and (min-width:1280px) {
*  .information-right { font-size:90%; }
*  .tags-right { float:right; padding: 0 20% 0 0; }
*}
*
*@media screen and (min-width:1350px) {
*  .information-right { font-size:90%; }
*  .tags-right { float:right; padding: 0 20% 0 0; }
*}
*
*@media screen and (min-width:1500px) {
*  .markdown-left{ width: 45%; }
*  .information-right { font-size:100%; }
*  .tags-right { float:right; padding: 0 30% 0 0; }
*} */

/* HARDCODE TIME */

@media screen and (min-width:300px) {
  .posts-container section article header h1::after { content: "--------------------"; }
}

@media screen and (min-width:900px) {
  .posts-container section article header h1::after { content: "-------------------------------"; }
}

@media screen and (min-width:1000px) {
  .posts-container section article header h1::after { content: "-----------------------------------"; }
}


@media screen and (min-width:1200px) {
  .posts-container section article header h1::after { content: "-----------------------------------------"; }
}

@media screen and (min-width:1400px) {
  .posts-container section article header h1::after { content: "------------------------------------------------"; }
}

@media screen and (min-width:1600px) {
  .posts-container section article header h1::after { content: "---------------------------------------------------------"; }
}

@media screen and (min-width:1930px) {
  .posts-container section article header h1::after { content: "------------------------------------------------------------"; }
}