@import "base";

$bg: #181a1b;

$color-link-light: #22c6c6;
$color-link: #10A0A0;
$color-link-dark: #0c6a6a;

$color-avatar-bg: #3E5A68;
$color-avatar-border: #FBFBFB;

$color-privacy-registered-p: #1375b2;
$color-privacy-registered: #5cb85c;
$color-privacy-me-p: #df4655;
$color-privacy-me: #4e518b;

$color-hidden: #8ba6db;

$color-wrapper: #515151;

$color-border: #555555;
$color-nav-focus-bg: #3939398c;
$color-gray: #2E2F30;
$color-form-textarea-bg: #222426;

$color-container-bg: #121414;

$color-scrollbar-light: #454a4d;
$color-scrollbar-dark: #202324;

$color-darkpurple: #31303b;
$color-button-bg: #306593;
$color-button-text: #ffffff;

$color-checkbox-bg: #1f2123;
$color-checkbox-border: #454646;
$color-checkbox-checked-bg: #1d2021;
$color-checkbox-checked-border: #bdae93;

$color-checkbox-channels-bg: #5cb85c;

$color-checkbox-text-checked: #6af68a;
$color-checkbox-process_checking: #a1bfa1;
$color-checkbox-unchecked-bg: #631119;
$color-checkbox-text-unchecked: #df4655;
$color-checkbox-focus: #1b1b1c;

$color-progress-bar: #222426;
$color-progress-bar-filled: #326666;

$color-feed-bg: #ffffff;
$color-feed-bg2: #eeeeee;
$color-feed-font: #000000;
$color-feed-icon: #9cccfd; /* #e0e0e0; */
$color-feed-time: #bbb;
$color-feed-date: #66b1ff;

$color-feed-link: #337ab7;

$color-feed-menu-active: #409eff;

$color-feed-tags-list: #ecf5ff;
$color-feed-tags-list-item: #909399;
$color-feed-tags-border: #e6e6e6;

$color-feed-filters-search-bg: #66b1ff;
$color-feed-filters-search-border: #66b1ff;
$color-feed-filters-search-font: #fff;
$color-feed-filters-icon: #555555;
$color-feed-filters-bg: #fff;
$color-feed-filters-bg2: #eeeeee;
$color-feed-filters-font: #555555;
$color-feed-filters-border: #ccc;
$color-feed-filters-badge-font: #fff;
$color-feed-badge-bg: #777777;
$color-feed-music-bg: black;
$color-feed-music-icon: white;

$color-feed-platform-tg: #66b1ff;
$color-feed-platform-mx: #5cb85c;

$color-feed-pages-bg: #ffffff;
$color-feed-pages-font: #367cb8;
$color-feed-pages-active-bg: #367cb8;
$color-feed-pages-active-font: #ffffff;

$color-alert-danger: #222426;
$color-alert-danger-text: #df4655;
$color-alert-success: #222426;
$color-alert-success-text: #a1bfa1;

$color-table-th: #22c6c6;
$color-table-th-border: #10A0A0;
$color-table-td: #10A0A0;
$color-table-tr-hover: #FBFBFB;

$color-category-default: #10A0A0;

$color-code-bg: #222426;

$font: #f0f0f0;
$font-link: #b3b3b3;
$comments-font: #f0f0f0;

$color-white: #ffffff;
$color-black: #000000;

@include base($bg, $color-darkpurple, $color-code-bg,
        $font, $font-link, $comments-font, $color-white, $color-black,
        $color-link-light,$color-link,$color-link-dark,$color-avatar-bg,$color-avatar-border,
        $color-checkbox-channels-bg, $color-category-default,
        $color-wrapper, $color-border, $color-nav-focus-bg,$color-gray, $color-form-textarea-bg,
        $color-checkbox-focus, $color-container-bg, $color-scrollbar-light, $color-scrollbar-dark,
        $color-checkbox-bg, $color-checkbox-border, $color-checkbox-checked-bg, $color-checkbox-checked-border,
        $color-privacy-registered-p, $color-privacy-registered, $color-privacy-me-p, $color-privacy-me, $color-hidden,
        $color-checkbox-text-checked, $color-checkbox-process_checking, $color-checkbox-unchecked-bg, $color-checkbox-text-unchecked,
        $color-button-bg, $color-button-text, $color-table-th, $color-table-th-border, $color-table-td, $color-table-tr-hover,
        $color-progress-bar, $color-progress-bar-filled,
        $color-feed-bg, $color-feed-bg2, $color-feed-font, $color-feed-icon, $color-feed-time, $color-feed-date,
        $color-feed-menu-active, $color-feed-tags-list, $color-feed-tags-list-item, $color-feed-tags-border, $color-feed-link,
        $color-alert-danger, $color-alert-danger-text, $color-alert-success, $color-alert-success-text,
        $color-feed-filters-search-bg, $color-feed-filters-search-font, $color-feed-filters-search-border, $color-feed-filters-icon,
        $color-feed-filters-bg, $color-feed-filters-bg2, $color-feed-filters-font, $color-feed-filters-border,
        $color-feed-filters-badge-font, $color-feed-badge-bg, $color-feed-music-bg, $color-feed-music-icon,
        $color-feed-platform-tg, $color-feed-platform-mx, $color-feed-pages-bg, $color-feed-pages-font, $color-feed-pages-active-bg,
        $color-feed-pages-active-font
);