@font-face {
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Thin-webfont.eot');
  src: url('Roboto/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto/Roboto-Thin-webfont.svg') format('svg'),
  url('Roboto/Roboto-Thin-webfont.woff') format('woff'),
  url('Roboto/Roboto-Thin-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Thin-webfont.eot');
  src: url('Roboto/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto/Roboto-Thin-webfont.svg') format('svg'),
  url('Roboto/Roboto-Thin-webfont.woff') format('woff'),
  url('Roboto/Roboto-Thin-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto/Roboto-ThinItalic-webfont.eot');
  src: url('Roboto/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto/Roboto-ThinItalic-webfont.svg') format('svg'),
  url('Roboto/Roboto-ThinItalic-webfont.woff') format('woff'),
  url('Roboto/Roboto-ThinItalic-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Light-webfont.eot');
  src: url('Roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto/Roboto-Light-webfont.svg') format('svg'),
  url('Roboto/Roboto-Light-webfont.woff') format('woff'),
  url('Roboto/Roboto-Light-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto/Roboto-LightItalic-webfont.eot');
  src: url('Roboto/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto/Roboto-LightItalic-webfont.svg') format('svg'),
  url('Roboto/Roboto-LightItalic-webfont.woff') format('woff'),
  url('Roboto/Roboto-LightItalic-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Medium-webfont.eot');
  src: url('Roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto/Roboto-Medium-webfont.svg') format('svg'),
  url('Roboto/Roboto-Medium-webfont.woff') format('woff'),
  url('Roboto/Roboto-Medium-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto/Roboto-MediumItalic-webfont.eot');
  src: url('Roboto/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto/Roboto-MediumItalic-webfont.svg') format('svg'),
  url('Roboto/Roboto-MediumItalic-webfont.woff') format('woff'),
  url('Roboto/Roboto-MediumItalic-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Bold-webfont.eot');
  src: url('Roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto/Roboto-Bold-webfont.svg') format('svg'),
  url('Roboto/Roboto-Bold-webfont.woff') format('woff'),
  url('Roboto/Roboto-Bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto/Roboto-BoldItalic-webfont.eot');
  src: url('Roboto/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto/Roboto-BoldItalic-webfont.svg') format('svg'),
  url('Roboto/Roboto-BoldItalic-webfont.woff') format('woff'),
  url('Roboto/Roboto-BoldItalic-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Black-webfont.eot');
  src: url('Roboto/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto/Roboto-Black-webfont.svg') format('svg'),
  url('Roboto/Roboto-Black-webfont.woff') format('woff'),
  url('Roboto/Roboto-Black-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto/Roboto-BlackItalic-webfont.eot');
  src: url('Roboto/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto/Roboto-BlackItalic-webfont.svg') format('svg'),
  url('Roboto/Roboto-BlackItalic-webfont.woff') format('woff'),
  url('Roboto/Roboto-BlackItalic-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Italic-webfont.eot');
  src: url('Roboto/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto/Roboto-Italic-webfont.svg') format('svg'),
  url('Roboto/Roboto-Italic-webfont.woff') format('woff'),
  url('Roboto/Roboto-Italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Regular-webfont.eot');
  src: url('Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto/Roboto-Regular-webfont.svg') format('svg'),
  url('Roboto/Roboto-Regular-webfont.woff') format('woff'),
  url('Roboto/Roboto-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('Hack/Hack-Italic.eot');
  src: local('Hack Italic'), local('Hack-Italic'),
  url('Hack/Hack-Italic.eot?#iefix') format('embedded-opentype'),
  url('Hack/Hack-Italic.woff2') format('woff2'),
  url('Hack/Hack-Italic.woff') format('woff'),
  url('Hack/Hack-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('Hack/Hack-Bold.eot');
  src: local('Hack Bold'), local('Hack-Bold'),
  url('Hack/Hack-Bold.eot?#iefix') format('embedded-opentype'),
  url('Hack/Hack-Bold.woff2') format('woff2'),
  url('Hack/Hack-Bold.woff') format('woff'),
  url('Hack/Hack-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('Hack/Hack-BoldItalic.eot');
  src: local('Hack Bold Italic'), local('Hack-BoldItalic'),
  url('Hack/Hack-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('Hack/Hack-BoldItalic.woff2') format('woff2'),
  url('Hack/Hack-BoldItalic.woff') format('woff'),
  url('Hack/Hack-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('Hack/Hack-Regular.eot');
  src: local('Hack Regular'), local('Hack-Regular'),
  url('Hack/Hack-Regular.eot?#iefix') format('embedded-opentype'),
  url('Hack/Hack-Regular.woff2') format('woff2'),
  url('Hack/Hack-Regular.woff') format('woff'),
  url('Hack/Hack-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('SourceCodePro/SourceCodePro-ExtraLight.eot');
  src: local('Source Code Pro ExtraLight'), local('SourceCodePro-ExtraLight'),
  url('SourceCodePro/SourceCodePro-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('SourceCodePro/SourceCodePro-ExtraLight.woff2') format('woff2'),
  url('SourceCodePro/SourceCodePro-ExtraLight.woff') format('woff'),
  url('SourceCodePro/SourceCodePro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('SourceCodePro/SourceCodePro-Light.eot');
  src: local('Source Code Pro Light'), local('SourceCodePro-Light'),
  url('SourceCodePro/SourceCodePro-Light.eot?#iefix') format('embedded-opentype'),
  url('SourceCodePro/SourceCodePro-Light.woff2') format('woff2'),
  url('SourceCodePro/SourceCodePro-Light.woff') format('woff'),
  url('SourceCodePro/SourceCodePro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('SourceCodePro/SourceCodePro-Bold.eot');
  src: local('Source Code Pro Bold'), local('SourceCodePro-Bold'),
  url('SourceCodePro/SourceCodePro-Bold.eot?#iefix') format('embedded-opentype'),
  url('SourceCodePro/SourceCodePro-Bold.woff2') format('woff2'),
  url('SourceCodePro/SourceCodePro-Bold.woff') format('woff'),
  url('SourceCodePro/SourceCodePro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('SourceCodePro/SourceCodePro-Medium.eot');
  src: local('Source Code Pro Medium'), local('SourceCodePro-Medium'),
  url('SourceCodePro/SourceCodePro-Medium.eot?#iefix') format('embedded-opentype'),
  url('SourceCodePro/SourceCodePro-Medium.woff2') format('woff2'),
  url('SourceCodePro/SourceCodePro-Medium.woff') format('woff'),
  url('SourceCodePro/SourceCodePro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('SourceCodePro/SourceCodePro-Semibold.eot');
  src: local('Source Code Pro Semibold'), local('SourceCodePro-Semibold'),
  url('SourceCodePro/SourceCodePro-Semibold.eot?#iefix') format('embedded-opentype'),
  url('SourceCodePro/SourceCodePro-Semibold.woff2') format('woff2'),
  url('SourceCodePro/SourceCodePro-Semibold.woff') format('woff'),
  url('SourceCodePro/SourceCodePro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('SourceCodePro/SourceCodePro-Black.eot');
  src: local('Source Code Pro Black'), local('SourceCodePro-Black'),
  url('SourceCodePro/SourceCodePro-Black.eot?#iefix') format('embedded-opentype'),
  url('SourceCodePro/SourceCodePro-Black.woff2') format('woff2'),
  url('SourceCodePro/SourceCodePro-Black.woff') format('woff'),
  url('SourceCodePro/SourceCodePro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('SourceCodePro/SourceCodePro-Regular.eot');
  src: local('Source Code Pro'), local('SourceCodePro-Regular'),
  url('SourceCodePro/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
  url('SourceCodePro/SourceCodePro-Regular.woff2') format('woff2'),
  url('SourceCodePro/SourceCodePro-Regular.woff') format('woff'),
  url('SourceCodePro/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Serif Condensed';
  src: url('DejaVu/DejaVuSerifCondensed.eot');
  src: local('DejaVu Serif Condensed'), local('DejaVuSerifCondensed'),
  url('DejaVu/DejaVuSerifCondensed.eot?#iefix') format('embedded-opentype'),
  url('DejaVu/DejaVuSerifCondensed.woff2') format('woff2'),
  url('DejaVu/DejaVuSerifCondensed.woff') format('woff'),
  url('DejaVu/DejaVuSerifCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Serif Condensed';
  src: url('DejaVu/DejaVuSerifCondensed-Bold.eot');
  src: local('DejaVu Serif Condensed Bold'), local('DejaVuSerifCondensed-Bold'),
  url('DejaVu/DejaVuSerifCondensed-Bold.eot?#iefix') format('embedded-opentype'),
  url('DejaVu/DejaVuSerifCondensed-Bold.woff2') format('woff2'),
  url('DejaVu/DejaVuSerifCondensed-Bold.woff') format('woff'),
  url('DejaVu/DejaVuSerifCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Serif';
  src: url('DejaVu/DejaVuSerif-BoldItalic.eot');
  src: local('DejaVu Serif Bold Italic'), local('DejaVuSerif-BoldItalic'),
  url('DejaVu/DejaVuSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('DejaVu/DejaVuSerif-BoldItalic.woff2') format('woff2'),
  url('DejaVu/DejaVuSerif-BoldItalic.woff') format('woff'),
  url('DejaVu/DejaVuSerif-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Serif Condensed';
  src: url('DejaVu/DejaVuSerifCondensed-BoldItalic.eot');
  src: local('DejaVu Serif Condensed Bold Italic'), local('DejaVuSerifCondensed-BoldItalic'),
  url('DejaVu/DejaVuSerifCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('DejaVu/DejaVuSerifCondensed-BoldItalic.woff2') format('woff2'),
  url('DejaVu/DejaVuSerifCondensed-BoldItalic.woff') format('woff'),
  url('DejaVu/DejaVuSerifCondensed-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Serif';
  src: url('DejaVu/DejaVuSerif-Bold.eot');
  src: local('DejaVu Serif Bold'), local('DejaVuSerif-Bold'),
  url('DejaVu/DejaVuSerif-Bold.eot?#iefix') format('embedded-opentype'),
  url('DejaVu/DejaVuSerif-Bold.woff2') format('woff2'),
  url('DejaVu/DejaVuSerif-Bold.woff') format('woff'),
  url('DejaVu/DejaVuSerif-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Serif';
  src: url('DejaVu/DejaVuSerif-Italic.eot');
  src: local('DejaVu Serif Italic'), local('DejaVuSerif-Italic'),
  url('DejaVu/DejaVuSerif-Italic.eot?#iefix') format('embedded-opentype'),
  url('DejaVu/DejaVuSerif-Italic.woff2') format('woff2'),
  url('DejaVu/DejaVuSerif-Italic.woff') format('woff'),
  url('DejaVu/DejaVuSerif-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Serif';
  src: url('DejaVu/DejaVuSerif.eot');
  src: local('DejaVu Serif'), local('DejaVuSerif'),
  url('DejaVu/DejaVuSerif.eot?#iefix') format('embedded-opentype'),
  url('DejaVu/DejaVuSerif.woff2') format('woff2'),
  url('DejaVu/DejaVuSerif.woff') format('woff'),
  url('DejaVu/DejaVuSerif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Serif Condensed';
  src: url('DejaVu/DejaVuSerifCondensed-Italic.eot');
  src: local('DejaVu Serif Italic Condensed'), local('DejaVuSerifCondensed-Italic'),
  url('DejaVu/DejaVuSerifCondensed-Italic.eot?#iefix') format('embedded-opentype'),
  url('DejaVu/DejaVuSerifCondensed-Italic.woff2') format('woff2'),
  url('DejaVu/DejaVuSerifCondensed-Italic.woff') format('woff'),
  url('DejaVu/DejaVuSerifCondensed-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-display: block;
  src: url("FontAwesome/fa-brands-400.eot");
  src: url("FontAwesome/fa-brands-400.eot?#iefix") format("embedded-opentype"),
  url("FontAwesome/fa-brands-400.woff2") format("woff2"),
  url("FontAwesome/fa-brands-400.woff") format("woff"),
  url("FontAwesome/fa-brands-400.ttf") format("truetype"),
  url("FontAwesome/fa-brands-400.svg#fontawesome") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-display: block;
  src: url("FontAwesome/fa-regular-400.eot");
  src: url("FontAwesome/fa-regular-400.eot?#iefix") format("embedded-opentype"),
  url("FontAwesome/fa-regular-400.woff2") format("woff2"),
  url("FontAwesome/fa-regular-400.woff") format("woff"),
  url("FontAwesome/fa-regular-400.ttf") format("truetype"),
  url("FontAwesome/fa-regular-400.svg#fontawesome") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-display: block;
  src: url("FontAwesome/fa-solid-900.eot");
  src: url("FontAwesome/fa-solid-900.eot?#iefix") format("embedded-opentype"),
  url("FontAwesome/fa-solid-900.woff2") format("woff2"),
  url("FontAwesome/fa-solid-900.woff") format("woff"),
  url("FontAwesome/fa-solid-900.ttf") format("truetype"),
  url("FontAwesome/fa-solid-900.svg#fontawesome") format("svg");
  font-weight: 900;
  font-style: normal;
}