@import "base";

$bg: #282828;

$color-link-light: #e07d2b;
$color-link: #fe8019;
$color-link-dark: #d65d0e;

$color-avatar-bg: #689d6a;
$color-avatar-border: #83a598;

$color-privacy-registered-p: #458588;
$color-privacy-registered: #689d6a;
$color-privacy-me-p: #fb4934;
$color-privacy-me: #b16286;

$color-hidden: #83a598;

$color-wrapper: #515151;

$color-border: #555555;
$color-nav-focus-bg: #32302f;
$color-gray: #2E2F30;
$color-form-textarea-bg: #504945;

$color-container-bg: #3c3836;

$color-scrollbar-light: #3c3836;
$color-scrollbar-dark: #282828;

$color-darkpurple: #31303b;
$color-button-bg: #458588;
$color-button-text: #fbf1c7;

$color-checkbox-bg: #21262d;
$color-checkbox-border: #454646;
$color-checkbox-checked-bg: #1d2021;
$color-checkbox-checked-border: #928374;

$color-checkbox-channels-bg: #98971a;

$color-checkbox-text-checked: #b8bb26;
$color-checkbox-process_checking: #a1bfa1;
$color-checkbox-unchecked-bg: #cc241d;
$color-checkbox-text-unchecked: #fb4934;
$color-checkbox-focus: #1d2021;

$color-feed-bg: #282828;
$color-feed-bg2: #504945;
$color-feed-font: #ebdbb2;
$color-feed-icon: #689d6a; /* #e0e0e0; */
$color-feed-time: #fbf1c7;
$color-feed-date: #fbf1c7;

$color-feed-link: #a89984;

$color-feed-menu-active: #d65d0e;

$color-feed-tags-list: #1d2021;
$color-feed-tags-list-item: #928374;
$color-feed-tags-border: #454646;

$color-feed-filters-search-bg: #689d6a;
$color-feed-filters-search-border: #689d6a;
$color-feed-filters-search-font: #fbf1c7;
$color-feed-filters-icon: #fbf1c7;
$color-feed-filters-bg: #282828;
$color-feed-filters-bg2: #1d2021;
$color-feed-filters-font: #fbf1c7;
$color-feed-filters-border: #1d2021;
$color-feed-filters-badge-font: #fbf1c7;
$color-feed-badge-bg: #928374;
$color-feed-music-bg: #1d2021;
$color-feed-music-icon: #fbf1c7;

$color-feed-platform-tg: #458588;
$color-feed-platform-mx: #689d6a;

$color-feed-pages-bg: #1d2021;
$color-feed-pages-font: #fbf1c7;
$color-feed-pages-active-bg: #928374;
$color-feed-pages-active-font: #fbf1c7;

$color-alert-danger: #ad3b14;
$color-alert-danger-text: #fcf4cd;
$color-alert-success: #689d6a;
$color-alert-success-text: #fcf4cd;

$color-table-th: $color-checkbox-checked-border;
$color-table-th-border: $color-checkbox-checked-border;
$color-table-td: $color-checkbox-checked-border;
$color-table-tr-hover: #fbf1c7;

$color-category-default: #ebdbb2;

$color-code-bg: #32302f;

$font: #ebdbb2;
$font-link: #a89984;

$color-white: #fbf1c7;
$color-black: #000000;

@include base($bg, $color-darkpurple, $color-code-bg,
        $font, $font-link, $color-white, $color-black,
        $color-link-light,$color-link,$color-link-dark,$color-avatar-bg,$color-avatar-border,
        $color-checkbox-channels-bg, $color-category-default,
        $color-wrapper, $color-border, $color-nav-focus-bg,$color-gray, $color-form-textarea-bg,
        $color-checkbox-focus, $color-container-bg, $color-scrollbar-light, $color-scrollbar-dark,
        $color-checkbox-bg, $color-checkbox-border, $color-checkbox-checked-bg, $color-checkbox-checked-border,
        $color-privacy-registered-p, $color-privacy-registered, $color-privacy-me-p, $color-privacy-me, $color-hidden,
        $color-checkbox-text-checked, $color-checkbox-process_checking, $color-checkbox-unchecked-bg, $color-checkbox-text-unchecked,
        $color-button-bg, $color-button-text, $color-table-th, $color-table-th-border, $color-table-td, $color-table-tr-hover,
        $color-feed-bg, $color-feed-bg2, $color-feed-font, $color-feed-icon, $color-feed-time, $color-feed-date,
        $color-feed-menu-active, $color-feed-tags-list, $color-feed-tags-list-item, $color-feed-tags-border, $color-feed-link,
        $color-alert-danger, $color-alert-danger-text, $color-alert-success, $color-alert-success-text,
        $color-feed-filters-search-bg, $color-feed-filters-search-font, $color-feed-filters-search-border, $color-feed-filters-icon,
        $color-feed-filters-bg, $color-feed-filters-bg2, $color-feed-filters-font, $color-feed-filters-border,
        $color-feed-filters-badge-font, $color-feed-badge-bg, $color-feed-music-bg, $color-feed-music-icon,
        $color-feed-platform-tg, $color-feed-platform-mx, $color-feed-pages-bg, $color-feed-pages-font, $color-feed-pages-active-bg,
        $color-feed-pages-active-font
);