@import "base";

$bg: #0d1117;

$color-link-light: #6998d0;
$color-link: #4683c8;
$color-link-dark: #2e6aaf;

$color-avatar-bg: #3E5A68;
$color-avatar-border: #1a1e25;

$color-privacy-registered-p: #1375b2;
$color-privacy-registered: #5cb85c;
$color-privacy-me-p: #df4655;
$color-privacy-me: #4e518b;

$color-wrapper: #515151;

$color-border: #555555;
$color-nav-focus-bg: #13171d;
$color-gray: #2E2F30;
$color-form-textarea-bg: #0d1117;

$color-container-bg: #161b22;

$color-scrollbar-light: #454a4d;
$color-scrollbar-dark: #202324;

$color-darkpurple: #31303b;
$color-button-bg: #306593;
$color-button-text: #f0f0f0;

$color-checkbox-bg: #21262d;
$color-checkbox-border: #454646;
$color-checkbox-checked-bg: #1d2021;
$color-checkbox-checked-border: #bdae93;

$color-checkbox-channels-bg: #5cb85c;

$color-checkbox-text-checked: #6af68a;
$color-checkbox-process_checking: #a1bfa1;
$color-checkbox-unchecked-bg: #631119;
$color-checkbox-text-unchecked: #df4655;
$color-checkbox-focus: #1b1b1c;

$color-feed-bg: #ffffff;
$color-feed-bg2: #eeeeee;
$color-feed-font: #000000;
$color-feed-icon: #9cccfd; /* #e0e0e0; */
$color-feed-time: #bbb;
$color-feed-date: #66b1ff;

$color-feed-link: #337ab7;

$color-feed-menu-active: #409eff;

$color-feed-tags-list: #ecf5ff;
$color-feed-tags-list-item: #909399;
$color-feed-tags-border: #e6e6e6;

$color-table-th: #306593;
$color-table-th-border: #306593;
$color-table-td: #306593;
$color-table-tr-hover: #f0f0f0;

$color-category-default: #4683c8;

$color-code-bg: #222426;

$font: #f0f0f0;
$font-link: #b3b3b3;

$color-white: #ffffff;
$color-black: #000000;

@include base($bg, $color-darkpurple, $color-code-bg,
        $font, $font-link, $color-white, $color-black,
        $color-link-light,$color-link,$color-link-dark,$color-avatar-bg,$color-avatar-border,
        $color-checkbox-channels-bg, $color-category-default,
        $color-wrapper, $color-border, $color-nav-focus-bg,$color-gray, $color-form-textarea-bg,
        $color-checkbox-focus, $color-container-bg, $color-scrollbar-light, $color-scrollbar-dark,
        $color-checkbox-bg, $color-checkbox-border, $color-checkbox-checked-bg, $color-checkbox-checked-border,
        $color-privacy-registered-p, $color-privacy-registered, $color-privacy-me-p, $color-privacy-me,
        $color-checkbox-text-checked, $color-checkbox-process_checking, $color-checkbox-unchecked-bg, $color-checkbox-text-unchecked,
        $color-button-bg, $color-button-text, $color-table-th, $color-table-th-border, $color-table-td, $color-table-tr-hover,
        $color-feed-bg, $color-feed-bg2, $color-feed-font, $color-feed-icon, $color-feed-time, $color-feed-date,
        $color-feed-menu-active, $color-feed-tags-list, $color-feed-tags-list-item, $color-feed-tags-border, $color-feed-link
);