<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <%=I18n.t("edit.cancel_account")%>
        </a>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
        <p><%=I18n.t("edit.cancel_account_desc")%> <%= button_to I18n.t("edit.cancel_account_button"), registration_path(resource_name), data: { confirm: I18n.t("edit.cancel_account_confirmation") }, method: :delete %></p>
      </div>
    </div>
  </div>
</div>